html, body {
  overflow-x: hidden;
}
.container-size {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.link,
.h1-title {
  color: black;
}
.link:hover{
  color: rgb(52, 58, 64);
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(64, 160, 217);
}
.hide-overflow {
  overflow: hidden;
}
.get-the-app-button {
  display: block;
  min-width: 70%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 0 !important;
}
.watch-the-video-button {
  display: block;
  min-width: 30%;
  margin: 0 auto;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 0 !important;
}
.watch-the-video-section,
.footer-background {
  background-color: #EFEFEF !important;
}
#send-me-the-link {
  background-color: #221F1F !important;
}
#phone {
  width: 350px;
  height: 45px;
}
.send-the-app-button {
  display: block;
  min-width: 35%;
  border: none;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 0 !important;
}
.paragraph-adjustments {
  padding-right: 10em;
}
#running-an-event {
  background-image: url('img/wallpaper.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  margin: auto;
  width: 50%;
}
/* ======================= */
/* Animations */
/* ======================= */
.middle {
  transition: .8s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#img1:hover .image,
#img2:hover .image,
#img3:hover .image,
#img4:hover .image,
#img5:hover .image,
#img6:hover .image,
#img7:hover .image,
#img8:hover .image {
  opacity: 0.5;
}
#img1:hover .middle,
#img2:hover .middle,
#img3:hover .middle,
#img4:hover .middle,
#img5:hover .middle,
#img6:hover .middle,
#img7:hover .middle,
#img8:hover .middle {
  opacity: 1;
}
.icon-footer {
  color: #221F1F;
}
.icon-footer:hover {
  color: rgb(166, 166, 166);
}
.logo-title {
    display: flex;
    flex-direction: row;
    color: rgb(229, 229, 229);
    font-size: 20px;
}
.logo-title:before,
.logo-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(229, 229, 229);
    margin: auto;
}
@media (min-width: 780px) {
  .special-height {
    width: 100%;
    height: 100vh;
  }

}
@media (max-width: 992px) {
  .link:hover{
    padding-bottom: 0px;
    border-bottom: 0;
  }
}
@media (max-width: 575px) {
  #nav {
    background-color: rgba(255,255,255,1) !important;
  }
  .front-form {
    display: none;
  }
}
.logo-image-primary {
  max-width: 65%!important;
}

@media only screen
  and (min-width: 780px)
  and (max-height: 887px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .container-size {
      height: 55vh;
      width: 100%;
      overflow: hidden;
    }
    .special-height {
      width: 100%;
      height: 65vh;
    }
}
/* Ipad */
@media only screen
  and (min-width: 768px)
  and (max-height: 1024px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .ipad-screen-title,
    .ipad-screen-image {
      padding-top: 0px !important;
    }
    .container-size {
      height: 55vh;
      width: 100%;
      overflow: hidden;
    }
    .special-height {
      width: 100%;
      height: 65vh;
    }
}
@media only screen
  and (min-width: 768px)
  and (max-height: 1215px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .ipad-screen-title,
    .ipad-screen-image {
      padding-top: 0px !important;
    }
    .container-size {
      height: 55vh;
      width: 100%;
      overflow: hidden;
    }
    .special-height {
      width: 100%;
      height: 65vh;
    }
}
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .ipad-screen-title {
      padding-top: 100px !important;
    }
    .container-size {
      height: 55vh;
      width: 100%;
      overflow: hidden;
    }
    .special-height {
      width: 100%;
      height: 65vh;
    }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .big-screen-ajusts {
    padding-top: 10rem!important;
  }
  .button-read-more {
    margin-top: 20rem!important
  }
}

/* Portrait */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .big-screen-ajusts {
    padding-top: 10rem!important;
  }
  .button-read-more {
    margin-top: 10rem!important
  }
}
/* Landscape */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .big-screen-ajusts {
    padding-top: 10rem!important;
  }
  .button-read-more {
    margin-top: 10rem!important
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-height: 1366px) and (min-width: 1024px) and (orientation: landscape){
  .big-screen-ajusts {
    padding-top: 0rem!important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-height: 1366px) and (min-width: 1024px) {
  .big-screen-ajusts {
      padding-top: 0rem!important;
  }
}
